@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    background: url(img/bg-pattern-bottom.svg);
    background-color: hsl(185, 75%, 39%);
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container .box {
    width: 440px;
    height: 470px;
    background: #fff;
    border-radius: 20px 20px;

}

.container .box .top {
    text-align: center;
    position: relative;
    border-bottom: 1px solid hsl(227, 10%, 46%, .3);
}

.container .box .top .top-bg {
    width: 440px;
    border-radius: 20px 20px 0 0;
}

.container .box .top .prof {
    position: absolute;
    top: 128px;
    left: 170px;
    border-radius: 50%;
    border: 5px solid #fff;
    object-fit: cover;

}

.container .box .top h2 {
    margin-top: 80px;
    color: hsl(229, 23%, 23%);
    margin-bottom: 10px;
}

.container .box .top h2 span {
    font-weight: 400;
    margin-left: 5px;
    color: hsl(227, 10%, 46%);

}

.container .box .top p {
    color: hsl(227, 10%, 46%);
    margin-bottom: 40px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem 2rem 4rem;
    text-align: center;
}

.footer div h2 {
    margin-bottom: 5px;

}

.footer div p {
    color: hsl(227, 10%, 46%);
    letter-spacing: 2px;
}

@media screen and (max-width:450px) {
    .container .box {
        width: 300px;
    }

    .container .box .top .top-bg {
        width: 300px;
        border-radius: 20px 20px 0 0;
    }

    .container .box .top .prof {
        position: absolute;
        top: 65px;
        left: 100px;
        border-radius: 50%;
        border: 5px solid #fff;
        object-fit: cover;

    }

    .footer {
        padding: 3rem 4rem 2rem 2rem;
        text-align: center;

    }

    .footer div h2,
    p {
        margin-right: 20px;
    }
}